<%- include("public/header.ejs") %>

<div class="date-box-container">
    <div class="date-box-content">
        <div class="content-date-month">
        <h1>Work</h1>
        </div>
    </div>
</div>

<div class="work-list-container">
       <ul>
        <% if (locals.taskArray) { %>
            <% taskArray.forEach(element=> { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<% element._id %>" onchange= "this.form.submit()">
                        <li><%= element.task%></li>
                    </div>
                    <input type="hidden" name="listName" value="month"></input>
                </form>
                <% }); %>
                    <% } %>
       </ul>

    <form class="task" action="/submit" method="POST">
        <input type="hidden" name="source" value="month">
        <input type="text" name="todayList" placeholder="new item" autocomplete="off"/>
        <button type="submit" name="task">+</button>
    </form>
</div>
    

<%- include("public/footer.ejs") %>