*{
    margin: 0;
    padding: 0;
}
html,body{
    margin: 0;
    padding: 0;
}

body{
    background-image: -webkit-linear-gradient(65deg, #a783e2 50%, #e4f3f8 50%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: serif;
}

/* header content */

header{
    padding-top: 25px;
    padding-bottom: 80px;
}

/* for navbar in header */
header > .flex-container{
    display: flex;
    list-style-type: none;
    gap: 50px;
    color: #541a8a;
    padding-left: 25px;
}

/* for anchor tag in navbar */
.anchor{
    text-decoration: none;
    font-size: 1.1rem;
}

/* for icon in navbar */
.flex-container ul li i{
    background-color: #c38ef4;
    font-size: 100px;
    font-weight: ;
}



/* Main content between header and footer */

/* box for current date and month */
.date-box-container{
    display: flex;
    justify-content: center;

}
.date-box-content{
    background-color: #a782e3;
    border-radius: 5px;
    height: 60px;
    width: 400px;
    text-align: center;
    color: white;
}
.content-date-month{
    margin-top: 8px;
    font-size: 1.1rem;
}


/* list of the task */
.work-list-container{
    margin-top: 5%;
}

.work-list-container ul{
    width: 400px;
    background-color: white;
    list-style: none;
    border-radius: 5px;
}

.work-list-container li{
    padding: 30px 10px;
    font-size: 1.1rem;
}


.list{
    display: flex;
    justify-content: center;
}

.newItem{
    display: flex;
    justify-content: center;
}

#newtask{
    width: 400px;
    background-color: white;
}




/* footer content */

footer{
    margin-top: auto;    
}
footer > p{
    text-align: center;
    font-size: 15px;
    padding-bottom: 6px;
}


