<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <title>header</title>
</head>
 
<header>
    <ul class="flex-container">
        <li>
            <i class="far fa-calendar-alt"></i>
            <a class="anchor" href="/">Today</a>
        </li>
        <li>
            <i class="fas fa-copy"></i>
            <a class="anchor" href="/work">Work</a>
        </li>
    </ul>
</header>
<body>
    <main>
